{% load staticfiles %}
{% load api_extras %}


<!-- {% for api in apis %}
<td>{{ api.name }}</td>
<td>{{ api.uri }}</td>
{% endfor %}



{% for chart in charts %}
<td>{{ chart.name }}</td>
<td>{{ chart.chartType }}</td>
<td>{{ chart.api }}</td>
{% endfor %} -->

 <link href="{% static 'css/google_chart_demo.css' %}" rel="stylesheet">
 <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
 <script type="text/javascript"> 
              google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','gauge']});
 </script> 
 <script type="text/javascript"> 
  // var my_charts = {{ charts }};
  /*
{
  "id": "1",
  "dasboard": "Test",
  "default" : "True",
   "charts": {"chartItem": [
      {"id":"1","nombre":"Wip1","Type":"table","apiuri":"uri"},
      {"id":"2","nombre":"Wip2","Type":"table","apiuri":"uri"},
      {"id":"3","nombre":"Wip3","Type":"table","apiuri":"uri"}
    ]
}
}

employees = {
    accounting: []
};

  */
var dataApiVisor = {
                   dashboards:[]
                 };
// var dashboards = [[],"charts":[]];
var chartItem = [];
// var charts = []
// dataApiVisor.dashboards = dashboards;
// dataApiVisor.dashboards.charts = charts; 


    {% for dashboard in dashboards %}

{% with  charts|lookupApi:dashboard.chart  as chartApiName %}     
   chartItem = {
                    "id": '{{ forloop.counter }}',
                     "name":'{{ dashboard.chart }}',
                     "type": '{{ charts|lookupCharType:dashboard.chart }}',
                     "apiuri":'{{ apis|lookupUri:chartApiName}}'
                      };

      dashboards =  {
                    "id": '{{ forloop.counter }}',
                    "name": '{{ dashboard.name }}',
                    "main" : '{{ dashboard.default }}',           
                    "charts" : chartItem
                  };
        dataApiVisor.dashboards.push(dashboards);
{% endwith %}

    {% endfor %}
    // var abc = JSON.stringify(dataApiVisor);
    // var abcd = JSON.parse(JSON.stringify(dataApiVisor));
    // var x = search(abcd.dashboards,"Two")
    var visualization;

    function SortAscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }

    function SortDscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }

    function searchByName(source, name) {
    var results;

    name = name.toUpperCase();
    results = source.filter(function(entry) {
        return entry.name.toUpperCase().indexOf(name) !== -1;
                           });
    return results;
    }

    function searchByMainDasboard(source) {
    var results;

    results = source.filter(function(entry) {
        return entry.main.toUpperCase().indexOf("TRUE") !== -1;
                           });
    return results;
    }

    function searchByAttribute(source,attr,value) {
    var results;

    value = value.toUpperCase();
    results = source.filter(function(entry) {
        return entry[attr].toUpperCase().indexOf(value) !== -1;
                           });
    return results;
    }

    var dashboardOnShow = searchByMainDasboard(dataApiVisor.dashboards);


    function loadDashBoard(dashboardName) {

          dashboardOnShow =  searchByName(dataApiVisor.dashboards,dashboardName);
          var dashboardsApiUri = dashboardOnShow[0].charts.apiuri.replace(/&amp;/g,"&");
          dashboardsApiUri =dashboardsApiUri.replace(/&#39;/g,"'");
          getChartData('hi',dashboardsApiUri,'1');
    }
    
    function getChartData(name, uri, count) {
                //     //ajax call to the web service    

                             $.ajax({
                                 
                                  url:  uri,
                                  data: {
                                     format: 'json'
                                  },
                                  error: function() {
                                     console.log("Error");
                                  },
                                  dataType: 'json',
                                 success: function(data) { 
                                  drawVisualization(data);
                                  },
                                  type: 'GET'
                               });}
              // google.setOnLoadCallback(
              //                           drawVisualization('hi','http://tasweb-staging.tinoapps.p.azurewebsites.net/1.0/BasicWIP/ValuesByQuery/vs/wipattributes?columns=distinct%20groupname,count(*)%20Rows&aggregate=group%20by%20groupname','1')
              //                         );

              google.setOnLoadCallback(
                                        getChartData('hi',dashboardOnShow[0].charts.apiuri.replace(/&amp;/g,"&"),'1')
                                      );

               function drawVisualization(data) {
                                  var options = {Grupos: 'Wip', Cantidas: 'Rows'};
                                  var dimension = "Rows";
                                  var groupsArray = [];
                                $.each(data.Data, function() {
                                    var groupitem = [this.groupname, this[dimension]];
                                    groupsArray.push(groupitem);
                                    });
                                   groupsArray = groupsArray.sort(SortDscBySecondColumn);
                                   groupsArray.unshift(["Groups",dimension]);
                                   var groupsData = google.visualization.arrayToDataTable(groupsArray);
                                   var chart1 = new google.visualization.Table(document.getElementById('visualization_Table1'));
                                   var chart2 = new google.visualization.Table(document.getElementById('visualization_Table2'));
                                   var chart3 = new google.visualization.Table(document.getElementById('visualization_Table3'));
                                   chart1.draw(groupsData, options);
                                   chart2.draw(groupsData, options)
                                   chart3.draw(groupsData, options)                                
                                  };

    </script> 
         <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table1" class="item_container first">
                       <!-- {% include 'demo/geo_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table2" class="item_container first">
                       <!-- {% include 'demo/gauge_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table3" class="item_container first">
                       <!-- {% include 'demo/pie_chart.html' %} -->
                    </td>
                </table>      
                </div>
              </div>