{% load staticfiles %}
{% load api_extras %}


<!-- {% for api in apis %}
<td>{{ api.name }}</td>
<td>{{ api.uri }}</td>
{% endfor %}



{% for chart in charts %}
<td>{{ chart.name }}</td>
<td>{{ chart.chartType }}</td>
<td>{{ chart.api }}</td>
{% endfor %} -->

 <link href="{% static 'css/google_chart_demo.css' %}" rel="stylesheet">
 <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
 <script type="text/javascript"> 
              google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','gauge']});
 </script> 
 <script type="text/javascript"> 
  // var my_charts = {{ charts }};
  /*
{
  "id": "1",
  "dasboard": "Test",
  "default" : "True",
   "charts": {"chartItem": [
      {"id":"1","nombre":"Wip1","Type":"table","apiuri":"uri"},
      {"id":"2","nombre":"Wip2","Type":"table","apiuri":"uri"},
      {"id":"3","nombre":"Wip3","Type":"table","apiuri":"uri"}
    ]
}
}

employees = {
    accounting: []
};

  */
var dataApiVisor = {
                   dashboards:[]
                 };
// var dashboards = [[],"charts":[]];
var chartItem = [];
// var charts = []
// dataApiVisor.dashboards = dashboards;
// dataApiVisor.dashboards.charts = charts; 


    {% for dashboard in dashboards %}

{% with  charts|lookupApi:dashboard.chart  as chartApiName %}     
   chartItem = {
                    "id": '{{ forloop.counter }}',
                     "name":'{{ dashboard.chart }}',
                     "type": '{{ charts|lookupCharType:dashboard.chart }}',
                     "apiuri":'{{ apis|lookupUri:chartApiName}}'
                      };

      dashboards =  {
                    "id": '{{ forloop.counter }}',
                    "name": '{{ dashboard.name }}',
                    "default" : '{{ dashboard.default }}',           
                    "charts" : chartItem
                  };
        dataApiVisor.dashboards.push(dashboards);
{% endwith %}

    {% endfor %}
    var abc = JSON.stringify(dataApiVisor);
    var abcd = JSON.parse(JSON.stringify(dataApiVisor));
    var x = search(abcd.dashboards,"Two")
    var visualization;
    function SortAscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }
    function SortDscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }
    function search(source, name) {
    var results;

    name = name.toUpperCase();
    results = source.filter(function(entry) {
        return entry.name.toUpperCase().indexOf(name) !== -1;
    });
    return results;
}
    function drawVisualization(name, uri, count) {
                //     //ajax call to the web service    
                var options = {Grupos: 'Wip', Cantidas: 'Rows'};
                var dimension = "Rows";
                             $.ajax({
                                 
                                  url:  uri,
                                  data: {
                                     format: 'json'
                                  },
                                  error: function() {
                                     console.log("Error");
                                  },
                                  dataType: 'json',
                                success: function(data) {
                                  var groupsArray = [];
                                $.each(data.Data, function() {
                                    var groupitem = [this.groupname, this[dimension]];
                                    groupsArray.push(groupitem);
                                    });
                                   groupsArray = groupsArray.sort(SortDscBySecondColumn);
                                   groupsArray.unshift(["Groups",dimension]);
                                   var groupsData = google.visualization.arrayToDataTable(groupsArray);
                                   var chart1 = new google.visualization.Table(document.getElementById('visualization_Table1'));
                                   var chart2 = new google.visualization.Table(document.getElementById('visualization_Table2'));
                                   var chart3 = new google.visualization.Table(document.getElementById('visualization_Table3'));
                                   chart1.draw(groupsData, options);
                                   chart2.draw(groupsData, options)
                                   chart3.draw(groupsData, options)                                
                                  },
                                  type: 'GET'
                               });}
              google.setOnLoadCallback(
                                        drawVisualization('hi','http://tasweb-staging.tinoapps.p.azurewebsites.net/1.0/BasicWIP/ValuesByQuery/vs/wipattributes?columns=distinct%20groupname,count(*)%20Rows&aggregate=group%20by%20groupname','1')
                                      );

    </script> 
         <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table1" class="item_container first">
                       <!-- {% include 'demo/geo_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table2" class="item_container first">
                       <!-- {% include 'demo/gauge_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table3" class="item_container first">
                       <!-- {% include 'demo/pie_chart.html' %} -->
                    </td>
                </table>      
                </div>
              </div>
<!--           <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div> -->

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- </div> -->