{% load staticfiles %}
{% load api_extras %}


<!-- {% for api in apis %}
<td>{{ api.name }}</td>
<td>{{ api.uri }}</td>
{% endfor %}



{% for chart in charts %}
<td>{{ chart.name }}</td>
<td>{{ chart.chartType }}</td>
<td>{{ chart.api }}</td>
{% endfor %} -->


<td>{{ api }}</td>
      <link href="{% static 'css/google_chart_demo.css' %}" rel="stylesheet">
      <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

    <script type="text/javascript"> 
              google.load('visualization', '1', {packages: ['table','barchart','columnchart','linechart','piechart','gauge']});
    </script> 
 <script type="text/javascript"> 
    var visualization;
    function SortAscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }
    function SortDscBySecondColumn(a, b) {
    if (a[1] === b[1]) {
        return 0;
    }
    else {
        return (a[1] > b[1]) ? -1 : 1;
    }
    }

    function drawVisualization2() {
                //     //ajax call to the web service    
                var options = {Grupos: 'Wip', Cantidas: 'Rows'};
                var dimension = "Rows";
                             $.ajax({
                                 
                                  url:     'http://tasweb-staging.tinoapps.p.azurewebsites.net/1.0/BasicWIP/ValuesByQuery/vs/wipattributes?columns=distinct%20groupname,count(*)%20Rows&aggregate=group%20by%20groupname',
                                  data: {
                                     format: 'json'
                                  },
                                  error: function() {
                                     console.log("Error");
                                  },
                                  dataType: 'json',
                                success: function(data) {
                                  var groupsArray = [];
//                                   var groupsArraySort = [["Groups",dimension]];
                                $.each(data.Data, function() {
                                    var groupitem = [this.groupname, this[dimension]];
                                    groupsArray.push(groupitem);
                                    });
                                   groupsArray = groupsArray.sort(SortDscBySecondColumn);
                                   groupsArray.unshift(["Groups",dimension]);
                                   var groupsData = google.visualization.arrayToDataTable(groupsArray);
                                   var chart = new google.visualization.Table(document.getElementById('visualization_Table'));
                                   chart.draw(groupsData, options);
//                                   
//                                    var chart = new google.visualization.BarChart(document.getElementById('visualization_BarChart'));
//                                   chart.draw(groupsData, options);
                                   
                                  },
                                  type: 'GET'
                               });}

    function drawVisualization3(name, uri, count) {
                //     //ajax call to the web service    
                var options = {Grupos: 'Wip', Cantidas: 'Rows'};
                var dimension = "Rows";
                             $.ajax({
                                 
                                  url:  uri,
                                  data: {
                                     format: 'json'
                                  },
                                  error: function() {
                                     console.log("Error");
                                  },
                                  dataType: 'json',
                                success: function(data) {
                                  var groupsArray = [];
//                                   var groupsArraySort = [["Groups",dimension]];
                                $.each(data.Data, function() {
                                    var groupitem = [this.groupname, this[dimension]];
                                    groupsArray.push(groupitem);
                                    });
                                   groupsArray = groupsArray.sort(SortDscBySecondColumn);
                                   groupsArray.unshift(["Groups",dimension]);
                                   var groupsData = google.visualization.arrayToDataTable(groupsArray);
                                   var chart = new google.visualization.Table(document.getElementById('visualization_Table1'));
                                   chart.draw(groupsData, options);
//                                   
//                                    var chart = new google.visualization.BarChart(document.getElementById('visualization_BarChart'));
//                                   chart.draw(groupsData, options);
                                   
                                  },
                                  type: 'GET'
                               });}
    // google.setOnLoadCallback(drawVisualization2);
  
    function handleQueryResponse2(response) {
      if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
      }
    
      var data = response.getDataTable();
        $('#visualization_Gauge').html(data);
      
  }
  
    
    var gaugeOptions = {min: 0, max: 280, yellowFrom: 200, yellowTo: 250,
      redFrom: 250, redTo: 280, minorTicks: 5};
    var gauge;

    function drawGauge() {
      gaugeData = new google.visualization.DataTable();
      gaugeData.addColumn('number', 'Engine');
      gaugeData.addColumn('number', 'Torpedo');
      gaugeData.addRows(2);
      gaugeData.setCell(0, 0, 120);
      gaugeData.setCell(0, 1, 80);

      gauge = new google.visualization.Gauge(document.getElementById('visualization_Gauge'));
      gauge.draw(gaugeData, gaugeOptions);
    }

       function changeTemp(dir) {
      gaugeData.setValue(0, 0, gaugeData.getValue(0, 0) + dir * 25);
      gaugeData.setValue(0, 1, gaugeData.getValue(0, 1) + dir * 20);
      gauge.draw(gaugeData, gaugeOptions);
    }
    </script> 
     {% set totalCharts = 3 %}
       {%   for chart in charts  %}      
          <div>{{ chart.name }} {{ chart.chartType}} {{apis|lookupUri:chart.api }} {{forloop.counter }}</div>
            <script> 
                drawVisualization3('hi','http://tasweb-staging.tinoapps.p.azurewebsites.net/1.0/BasicWIP/ValuesByQuery/vs/wipattributes?columns=distinct%20groupname,count(*)%20Rows&aggregate=group%20by%20groupname','1');
            </script> 
      {% endfor %}
         <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td id="visualization_Table1" class="item_container first">
                       <!-- {% include 'demo/geo_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td class="item_container first">
                       <!-- {% include 'demo/gauge_chart.html' %} -->
                    </td>
                </table>
                </div>
                <div class="col-sm-4 col-xs-offset-0">
                <table id="core_gallery_table">
                    <td class="item_container first">
                       <!-- {% include 'demo/pie_chart.html' %} -->
                    </td>
                </table>      
                </div>
              </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- </div> -->