{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Welcome | {% endblock %}

{% block side_bar %}

  {% for dashboard in dashboards %}
      {% if not dashboard.default %}
          <li><a href="#">{{ dashboard.name }}</a></li>
      {% endif %}
  {% endfor %}

{% endblock %}

  {% block dashboard %}
  	{% if request.user.is_authenticated %}
     	{% include 'dashboard.html' %}
    {% endif %}
  {% endblock %}

  {% block dashboard_demo %}
    {% if not request.user.is_authenticated %}
     	{% include 'dashboard_demo.html' %}
     {% endif %}
  {% endblock %}

