{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Settings | {% endblock %}
{% block side_bar %}
  {% for config in settings %}
      {% if forloop.counter  = 1  %}
          <li class="active"><a href="?action={{ config.call }}" onclick="">{{ config.name }}</a></li>
      {% else %}
          <li><a href="?action={{ config.call }}" onclick="">{{ config.name }} </a></li>     
      {% endif %}
  {% endfor %}

{% endblock %}

{% block botton_bar %}

  {% for config in settings %}
	  <li><a href="?action={{ config.call }}" onclick="">{{ config.name }} </a></li>     
  {% endfor %}
{% endblock %}


	{% block content %}
	    {% if form %}
		<div class="row">
			  <div class="col-sm-3 col-md-2"></div>
			  <div class="col-sm-9 col-md-10">
			      <form method='POST' acion=''> {% csrf_token %}
			      {{form|crispy}}
			      <input type='submit' value='Save' class = 'btn btn-primary' />
			      </from>
			  </div>
		</div>

	    {% else %}
			{% include 'table.html' %}
	    {% endif %}
  	{% endblock %}

